* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
}


.main {
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main h1 {
  width: 100vw;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main .pulse {
  font-size: 60px;
  color: red;
  margin-left: 20px;
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
  
}

.letter-red {
  color: red;
  font-size: 30px;
  margin-left: 0;
  margin: 0 10px 0 10px;
}

.pulse {
  animation: pulse 1s linear infinite;
}


.cards {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card {
  box-sizing: border-box;
  min-height: 200px;
  background-color: #fefbec;
  padding: 30px;
  width: 90vw;
  text-align: center;
  margin: 10px 0 10px 0;
  border-radius: 30px;
}

.card .letter {
  font-size: 60px;
  font-weight: bold;
  color: red;
}

.card .prhase {
  font-size: 25px;
}

footer {
  padding: 20px;
}

footer p {
  text-align: center;
  opacity: .5;
}

.card {
  view-timeline-name: --card;
  view-timeline-axis: block;

  animation-timeline: --card;
  animation-name: show;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25% ;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
  
}

